<div class="center">
    <h2>All Quizzes</h2>
    {{#each tests}}
        <p><a href="/tests/take/{{this._id}}" class="normal-link">{{this.title}}</a></p>
        {{#if this.description}}
        <p>{{this.description}}</p>
        {{else}}
        <p>This test has no description</p>
        {{/if}}
        {{#if this.creatorName}}
        <p>This test was created by {{this.creatorName}}</p>
        {{else}}
        <p>This test was created by a guest</p>
        {{/if}}
    {{/each}}
</div>