<div class="center">
    <h1>User: {{user.name}}</h1>
    <h2><u>{{user.name}}'s Tests:</u></h2>
    {{#each user.tests}}
        <h3><a href="/tests/take/{{this._id}}" class="normal-link">{{this.title}}</a> -
        {{#if this.description}}
        {{this.description}}
        {{else}}
        This test has no description
        {{/if}}</h3>
    {{/each}}
    <h2><u>{{user.name}}'s Scores</u></h2>
    {{#each user.scores}}
        <h3><a href="/tests/take/{{this.id}}" class="normal-link">{{this.title}}</a> - {{this.score}} / {{this.total}}</h3>
    {{/each}}
</div>