<div class="center-test">
    <form action="/tests/take/results/{{test._id}}" method="POST" class="take-test-form">
    <h1 id="legend">{{test.title}}</h1>
    {{#each test.questions}}
        Question {{counter @index}}
        <fieldset id="{{this.question}}">
        <p>{{this.question}}</p>
        {{#each this.answers}}
            <input type="radio" id="{{this}}" name="{{../this._id}}" value="{{this}}" required>
            <label for="{{this}}">{{this}}</label><br>
        {{/each}}
        </fieldset>
    {{/each}}
    <button type="submit" class="submit-button-test">Submit</button>
    </form>
</div>