<main>
    <form action="/tests/take/results/{{test._id}}" method="POST" class="take-test-form">
    {{#each test.questions}}
        <fieldset id="{{this.question}}">
        <p>{{this.question}}</p>
        {{#each this.answers}}
            <input type="radio" id="{{this}}" name="{{../this._id}}" value="{{this}}">
            <label for="{{this}}">{{this}}</label><br>
        {{/each}}
        </fieldset>
    {{/each}}
    <button type="submit" class="submit-button">Submit</button>
    </form>
</main>