<main>
    <p class="test-results">Results on {{quiz.title}} made by {{user}}</p>
    <p class="test-results">{{result.score}} / {{result.total}}</p>
    <p class="test-results"><a href="/tests/{{quiz._id}}">Retake Test</a></p>
</main>